body{
    border: 2px solid red;
    outline: 10px solid rgb(154, 223, 154);
    background-color: rgba(221, 214, 214, 0.771);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border: 3px solid black;
    background-color: white;
    padding-bottom: 0px;
}

footer{
    text-align: center;
    font-size: 1.5vw;
}

section{
    position: relative; 
    border: 1px solid rgb(98, 0, 255);
    width: 68%
}


aside{
    border: 1px solid orange;
    text-align: center;
    background-color: rgb(7, 197, 197);
    width:23%;
    font-size: 1.5vw;
    padding-left: 3%;
    padding-right: 3.5%;
    padding-top: 3%;
    padding-bottom: 4%;
    position: absolute;
    right: 2%; 
    top: 50%
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration:none;
    margin-top: 0px;
    padding: 10px 45px;
    background: linear-gradient(green,black);
    border:1px solid black;
}

nav{
    width:100%;
    display:flex;
    margin-top: -11px;
    margin-left: -38px;
}

ul{
    list-style: none;
    overflow:hidden;
    display:inline-flex;
    font-size: 1.5vw;
    margin-top: 10px;
}

.CTTT, .ATTT{
    border: 1px solid rgb(246, 79, 18);
    text-align: center;
    padding:5px;
    margin:15px;
    font-size: 1.52vw;
    padding: 10px 25px;
}

img{
    width: 20%;
    height:auto;
    vertical-align: middle;
    padding: 15px;
}

.title-header{
    font-size: 2vw;
}

.title-ttbs{
    font-size: 1.8vw;
}

.info-ttbs{
    font-size: 1.7vw;
}
.sign{
    text-align: right;
    padding-right: 10px;
}