table{
    border-collapse: collapse;
    
    
}
h1{
    color: #8A2BE2;
    text-align: center;
}
.table1{
    display: flex;
  justify-content: center;
  align-items: center;
}
p{
    text-align:center;
}
th{
    text-align: left;
}
input[type="submit"]{
    border-radius: 30%;
}
hr[id="1"]{
    border-color:blue;
}