table{
    border-collapse: collapse;
    
    
}
h1{
    color: #8A2BE2;
    text-align: center;
}
.table1{
    display: flex;
  justify-content: center;
  align-items: center;
}
p{
    text-align:center;
}
th{
    text-align: left;
}
.lala{
    position: relative;
    top:120px;
}
hr{
    width:40%;
    
}
input[type="submit"]{
    border-radius: 40%;
}