th{
    color:rgb(57, 57, 253);   
}
body{
    background-color: #FFEDCA;
}

select{
    margin-bottom:30px;
}
input[id="sodudoan"]{
    width: 170px;
}
table{
    border-collapse: collapse;
}
th{
    text-align: left;
}
tr:hover{background-color: lightblue;} 
.pdk_container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h1{
    padding-left: 420px;
}



