.form_salary{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    margin-top:  10px;
    width: 600px;
    height: 5%;
    font-size: 24px;
    text-align: left;
    background-color: rgb(254,205,146) ;
    outline: 3px solid #0b00a7;
    outline-offset: 3px;
} 

table,th,td{
    border: 2px solid rgb(0,0,160);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 10px;
    border-color: rgb(122,166,203);
}

.border_form{
    border: 2px solid rgb(0,0,160);
    height: 140px;
    display: flex;
    justify-content: center;
} 